body {
	background-color: #f9efe0;
}


.spaced-image {
  margin-bottom: 70px; /* space between images */
  width: 100%;
  height: auto;
  display: block;
}

.transparent-image {
  opacity: 0.7; /* 0 = fully transparent, 1 = fully opaque */
  transition: opacity 0.3s ease ;/* smooth transition */
}

.transparent-image:hover {
  opacity: 1;             /* Fully visible on hover */
}

.image-block {
  position: relative;
  display: inline-block;
  width: 100%;
}

.image-wrapper {
  transform: scale(1.15);
  transform-origin: center top;
  display: inline-block;
  margin-bottom: 50px; /* vertical space */
}

.recipeImg {
  margin-left: 250px;
}

.pancakesimg {
  width: 800px;
  height: auto;
  text-align: right;
  margin-left: 250px;
}










.container {
	 margin-top: 70px; /* Space from navbar */
	text-align: center;
				}

.container-fluid {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  gap: 30px;               /* space between links */
}

.col-md-5 {
  padding: 0;
}







h1 {
  color: #97a98d
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  color: #f9efe0;
  font-size: 29px;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  margin: 0;
  text-shadow: 
  3px 3px 8px rgba(0, 0, 0, 0.9),
  0 0 10px rgba(0, 0, 0, 0.7),
  0 0 20px rgba(0, 0, 0, 0.6);
}

.titleRecipe {
  font-size: 100px;
}

.recipe {
  text-align: left;
  font-size: 40px;
}

h2 {
    color: #97a98d;
    font-size: 50px;
    text-decoration: underline;
}


/**********************************************************************/
/* CUSTOMISE NAVIGATION BAR */


.navbar {
  border-bottom: 2px solid #97a98d;
  height: 100px;
  background-color: #f9efe0;
}

.navbar a {
  padding: 0 20px;
  border-right: 1px solid #97a98d; 
  text-decoration: none;
}

.navbar a:hover {
  background-color: #97a98d;
}


/* LOGO */
.logo-item {
  /*flex-shrink: 0;*/ 
  width: 100px;
  object-fit: contain; 
  align-self: center;  
  display: block;
  
}


.home-text {
  margin: 0;              /* remove default margins */
  font-size: 3rem;
  color: #97a98d;
  position: relative;
  top: -30px; /* shifts "Home" text up */
  align-self: center;
  border-right: 1px solid #97a98d;
}

/*
.nav-link {
  position: relative;
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 96px;
  text-decoration: none;
  font-size: 1.2rem;
  border-right: 1px solid #aaa;
  flex-shrink: 0; 
  min-width: 120px; 
  transition: background-color 0.3s ease;
  text-align: center;
  flex: 1;
}*/


/* remove right border on last link */
/*
.nav-link:last-child {
  border-right: none; 
}



.nav-item {
  display: flex;           
  align-items: center;     
  height: 50px;
}*/


.nav-link:hover  {
  color: #f9efe0; /* Your hover color */
}

.nav-link {
  color: #97a98d; /* Default color */
  transition: color 0.3s ease;
}



.home-link  {
  color: #97a98d; /* Default color */ 
  transition: color 0.3s ease;
}
.home-link:hover  {
  color: #f9efe0; /* Your hover color */
}